Checks: "bugprone-*,\
		clang-diagnostic-*,\
		clang-analyzer-*,\
		modernize-*,\
		performance-*,\
		modernize-*,\
		portability-*,\
		-readability-uppercase-literal-suffix,\
		-modernize-use-trailing-return-type,\
		-bugprone-easily-swappable-parameters,\
		"

WarningsAsErrors: "*"

